# ================================
# Club de Videos — Environment
# ================================

# App
NODE_ENV=development
PORT=3000
API_PREFIX=api

# CouchDB
COUCHDB_HOST=localhost
COUCHDB_PORT=5984
COUCHDB_USER=admin
COUCHDB_PASSWORD=admin_password
COUCHDB_DATABASE=club_videos

# CORS
CORS_ORIGIN=http://localhost:4200
